html, body, .main-container {
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #f2f2f2;
}

.main-container {
	padding-bottom: 70px;
}

.view-selection-container {
	width: 100%;
	height: 50px;
	background-color: #ccc;
	position: fixed;
	bottom: 0;
	-webkit-box-shadow: 0px 1px 7px #232323;
	-moz-box-shadow: 0px 1px 7px #232323;
	-ms-box-shadow: 0px 1px 7px #232323;
	-o-box-shadow: 0px 1px 7px #232323;
	box-shadow: 0px 1px 7px #232323;
}

.view-selection {
	text-align: center;
	border: 1px solid #232323;
	height: 100%;
	display: block;
	cursor: pointer;
	-webkit-box-shadow: inset 1px 1px 1px #f2f2f2;
	-moz-box-shadow: inset 1px 1px 1px #f2f2f2;
	-ms-box-shadow: inset 1px 1px 1px #f2f2f2;
	-o-box-shadow: inset 1px 1px 1px #f2f2f2;
	box-shadow: inset 1px 1px 1px #f2f2f2;
}

.view-selection:hover, .view-selection:focus, .view-selection:active {
	text-decoration: none;
}

.view-selection:nth-child(2) {
	border-left: 0;
	border-right: 0;
}

.view-selection:active {
	background-color: #5f6668;
}

.view-selection>span {
	height: 40px;
	width: 40px;
	display: block;
	background-color: #f2f2f2;
	margin: 4px auto 0;
	font-weight: bold;
	color: #232323;
	padding-top: 9px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 1px 2px #232323;
	-moz-box-shadow: 0px 1px 2px #232323;
	-ms-box-shadow: 0px 1px 2px #232323;
	-o-box-shadow: 0px 1px 2px #232323;
	box-shadow: 0px 1px 2px #232323;
}

.view-selection.active>span {
	color: #f2f2f2;
	background-color: #232323;
	-webkit-box-shadow: inset 0px 1px 2px #f2f2f2;
	-moz-box-shadow: inset 0px 1px 2px #f2f2f2;
	-ms-box-shadow: inset 0px 1px 2px #f2f2f2;
	-o-box-shadow: inset 0px 1px 2px #f2f2f2;
	box-shadow: inset 0px 1px 2px #f2f2f2;
}

.photo-container {
	cursor: pointer;
	margin: 10px 0;
	background-color: #fff;

	-webkit-box-shadow: 0px 1px 1px #232323;
	-moz-box-shadow: 0px 1px 1px #232323;
	-ms-box-shadow: 0px 1px 1px #232323;
	-o-box-shadow: 0px 1px 1px #232323;
	box-shadow: 0px 1px 1px #232323;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.photo-title {
    text-align: center;
    margin: 10px 0 0;
    padding: 0 50px 10px;
    display: block;
   	font-size: 20px;
	position: relative;
}

.photo-image {
	width: 100%;
	display: block;
	margin: 0 auto 10px;

    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -ms-border-top-right-radius: 4px;
    -o-border-top-right-radius: 4px;
    border-top-right-radius: 4px;

    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -ms-border-top-left-radius: 4px;
    -o-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}

.photo-index-indicator {
	font-size: 16px;
	color: #ccc;
	position: absolute;
	left: 5px;
}

.page-switcher {
	width: 70px;
	display: inline;
	border: 0;
	background-color: transparent;
	box-shadow: none;
	vertical-align: top;
	margin-top: -8px;
}

@media (min-width: 768px) {
	.page-switcher {
		height: 18px;
    	margin-top: 5px;
		width: 50px;
	}
}

.modal.modal-widget {
	left: 50% !important;
    top: 50% !important;
    display: block !important;
    position: fixed !important;
    margin-top: -12.5% !important;
    margin-left: -50% !important;
}

@media (max-width: 767px) {
	.modal.modal-widget {
		margin-top: -50% !important;
	}
}

label>.form-control {
	font-weight: normal;
}

.form-control.error-danger {
	font-weight: bold;
	color: #a94442;
}

.errors-list {
	display: none;
}

.error-danger+.errors-list {
	display: block;
	font-size: 0.75em;
	margin-top: 5px;
	font-weight: bold;
	color: #a94442;
}

:-webkit-full-screen-ancestor>.view-selection-container {
	display: none !important;
}

:-webkit-full-screen-ancestor:not(iframe) {
	width: 100%;
	margin: 0;
}

:-webkit-full-screen-ancestor:not(iframe) * {
	margin: 0;
}

video {
	background-color: #000;
}